.task-checkbox {
  accent-color: var(--accent-color);
}

.task-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.task-name {
  width: 60%;
  text-align: center;
  overflow-wrap: break-word;
}

.task-item > input {
  width: 1.5rem;
  aspect-ratio: 1 / 1;
}

.task-edit {
  height: 2rem;
  aspect-ratio: 1 / 1;
}

