@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
  --accent-color: #F19F3C;
  --main-bg-color: whitesmoke;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
  }

html {
    height: 100vh;
    width: 100%;
}

body {
    background-color: var(--main-bg-color);
}

.login-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.19), -10px -10px 15px rgba(0,0,0,0.19);
    border-radius: 5%;
    background-color: white;
}

.login-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 10% auto;
    padding: 50px;
}

.form-field {
    display: flex;
    flex-direction: column;
    padding: 1em 5px;
}

.form-field>label {
    padding-bottom: 0.5em;
}
.form-field>input[type=text] {
    height: 1.5rem;
    padding-left: 0.35rem;
}
.form-field>input[type=password] {
  height: 1.5rem;
  padding-left: 0.35rem;
}

.login-form>button[type=submit] {
    margin: 0.7rem 30% 0;
    height: 1.5rem;
    border-radius: 6px;
}

.login-form>button[type=submit]:hover {
    background-color: var(--accent-color);
    color: var(--main-bg-color);
}

.login-signup {
    font-size: small;
}
.login-signup>a {
    color: var(--accent-color);
    text-decoration: none;
}



.folders-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.folders-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 5% auto;
    justify-content: center;
    padding: 30px 30px 50px 30px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.19), -10px -10px 15px rgba(0,0,0,0.19);
}

.folders-header {
    padding: 0 0 5% 0;
    text-align: center;
}

.folder-list .folder-form {
    width: min(500px, 30%);
    margin: 0 auto;
}

.folder-list {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.folder-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 5px;
    width: 100%;
}

.folder-view-items {
    padding: 0 20px 0 0;
    text-decoration: none;
}

.folder-view-items, .folder-remove {
    color: #CAE4F1;
}

.folder-remove:hover {
    cursor: pointer;
}

.folder-name {
    min-width: 150px;
}

.folder-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    width: 60%;
}

.folder-form>input {
    width: 220px;
    margin: 0 5% 0 15px;
}

.folder-form>input[type=text] {
    padding-left: 3px;
}

.folder-form>button[type=submit] {
    padding: 2px 10px;
}

.folder-form>button[type=submit]:hover {
    background-color: var(--accent-color);
    color: white
}



.tasks-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tasks-container {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 5% auto;
    justify-content: center;
    padding: 30px 30px 50px 30px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.19), -10px -10px 15px rgba(0,0,0,0.19);
}

.tasks-header {
    padding: 0 0 5% 0;
    text-align: center;
}

.task-list .task-form {
    width: min(500px, 30%);
    margin: 0 auto;
}

.task-list {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.task-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 5px;
    width: 100%;
}


.task-edit {
    color: #CAE4F1;
}

.task-name {
    min-width: 150px;
}

.task-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    width: 60%;
}

.checkbox-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 1rem;
}

input[type=checkbox] {
    accent-color: var(--accent-color);
    caret-color: white;
    stop-color: white;
    flood-color: white;
    outline-color: white;
    lighting-color: white;
    }

.task-form>input {
    width: 150px;
    margin: 0 5% 0 15px;
}

.task-form>input[type=text] {
    padding-left: 3px;
}

.task-form>button[type=submit] {
    padding: 2px 10px;
}

.task-form>button[type=submit]:hover {
    background-color: var(--accent-color);
    color: white
}

.task-edit:hover {
    cursor: pointer;
}