@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
  --accent-color: #F19F3C;
  --main-bg-color: whitesmoke;
}

.folders-container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.folders-header {
  align-self: center;
}

.folders-content {
  display: flex;
  flex-direction: column;
}

.folders-list {
  display: flex;
  flex-direction: column;
  padding-inline-start: 0;
}

.folder-item {
  width: 90%;
  align-self: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
}

.folder-item-remove {
  text-align: center;
}

.folder-view-items {
  align-self: center;
  text-decoration: none;
  text-align: right;
  color: var(--accent-color);
}

.folder-form-container {
  width: 90%;
  align-self: center;
}

.folder-form {
  display: grid;
  column-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "input input button";
  min-width: 0;
}

.folder-form > input {
  grid-area: input;
  min-width: 0;
}

.folder-form > button {
  grid-area: button;
  min-width: 0;
}















